* {
  font-family: 'Ubuntu Mono', monospace;
}

.leaflet-container {
  cursor: default;
}

#mapid {
  height: 550px;
  width: 800px;
  margin: auto;
}

#top-bar {
  font-size: 1rem;
  width: 800px;
  height: 50px;
  background-color: #e6eff4;
  position: absolute;
  z-index: 100008;
  display: flex;
  align-items: center;
  justify-content: left;
}

#top-bar.battle-bar {
  width: 800px;
  height: 100px;
  background-color: red;
}

.bar-item {
  display: flex;
  align-items: center;
}

.bar-item,
.bar-item div {
  padding: 4px;
}

.bar-item img {
  width: 45px;
  height: 45px;
}

#window-container {
  position: absolute;
  display: flex;
  align-items: start;
  z-index: 100008;
  width: 800px;
  height: 550px;
}

#window-container #window {
  padding: 1.2em 1.2em;
  font-size: 1rem;
  background: white;
  border-radius: 10px;
  max-width: 550px;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.content {
  padding: 10px;
}

.close-button {
  align-self: flex-start;
}

.hide {
  display: none !important;
  pointer-events: none;
}

.action-button {
  margin-right: 2%;
}
